*{
    margin: 0;
    padding: 0;
}

.head{
    height: 70px;
    text-align: center;
    background-color: lightskyblue;
}
.head h3{
    position: relative;
    top: 15px;
    color: white;
}
.head a{
    position: relative;
    top: 20px;
    margin: 20px;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}
.column1 {
    height: 500px;
    float: left;
    background-color:aliceblue;
    width: 20%;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}
.column1 li{
    position: relative;
    left: 40px;
}

.column2 {
    margin-left: 20px;
    height: 500px;
    box-sizing: border-box;
    float: left;
    width: 70%;
}

.column2-1 {
    height: 230px;
    border-bottom: 1px solid rgb(150, 149, 149);
    box-sizing: border-box;
}
.column2-2 {
    margin-top: 20px;
    height: 250px;
    border-bottom: 1px solid rgb(150, 149, 149);
    box-sizing: border-box;
}

.end {
    background-color: black;
    color: white;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    padding: 10px;
}